* {
    margin: 0;
    padding: 0;
}

body * {
    font-family: 'Raleway', sans-serif;
    line-height: 160%;
}

body {
    background-color: #16161D;
    background-size: 100% auto;
}

#vanta-bg {
    z-index: 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

header {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 32px;
    height: calc(120px + 32px);
    color: white;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 16px auto;
}

header img {
    width: 100%;
    border-radius: 50%;
}

header div {
    width: 120px;
    margin: auto;
    /* background-image: linear-gradient(90deg, purple, #ff0066); */
    border: 1px purple solid;

    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1)
}

header h3 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 12px;
    color: white;
    letter-spacing: 1px;
}

header p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    letter-spacing: 1px;
}

section div {
    background: transparent;
    padding-top: 8px;
    border-radius: 8px;
}

section ul {
    box-sizing: border-box;
    padding: 12px;
    list-style: none;
    flex-wrap: wrap;
    margin: auto;
}

ul li {
    background-color: #DD0F55;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;

    backdrop-filter: blur(5px); /* Chrome and Opera */
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);
}

ul li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-decoration: none;
}

section ul li:hover {
    transform: scale(1.02);
}

section ul li {
    transition: transform .3s;
}

footer {
    font-family: 'Raleway', sans-serif;
    padding-top: 0px;
    text-align: center;
    font-size: 10px;
    color: white;
    margin: auto;
    letter-spacing: 1px;
}

footer a {
    font-family: 'Raleway', sans-serif;
    padding-top: 0px;
    text-align: center;
    font-size: 10px;
    color: white;
    margin: auto;
    letter-spacing: 1px;
}

/* animation */

header div {
    animation: fromTop .7s .2s backwards;
}

header h3 {
    animation: fadeIn .7s .2s backwards;
    animation-delay: .2s;
}

header p {
    animation: fadeIn .7s .2s backwards;
    animation-delay: .3s;
}

main {
    animation: fadeIn .7s .2s backwards;
    animation-delay: .7s;
}

footer {
    animation: fadeIn .7s .2s backwards;
    animation-delay: .9s;
}


@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
